/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~maplibre-gl/dist/maplibre-gl.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$grey: #293241;
$red: #ee6c4d;
$cyan: #e0fbfc;
$lightblue: #98c1d9;
$darkblue: #3d5a80;

.mat-button-toggle{
  background-color: #fff;
  color:  $grey;
}

//.mat-button-toggle:hover {
//  background-color: #fff;
//  color: $grey !important;
//}

.mat-button-toggle-checked {
  background-color:$red;
  color: #ffffff !important;
}

.label {
  color: $grey;
  font-size: 14px;
 margin-bottom: 5px !important;
}

.subheader {
  color: $grey;
  font-size: 22px;
  margin-bottom: 22px !important;
  margin-top: 6px !important;
}

.widgetcontainer {
  margin: 20px;
}

.mapboxgl-ctrl-geocoder--result-icon, maplibre-ctrl-geocoder--result-icon {
  display: none !important;
}

.mapboxgl-ctrl-top-right, .maplibregl-ctrl-top-right {
  right: 60px !important;
}

.mapboxgl-ctrl-geocoder--result-title,
.maplibregl-ctrl-geocoder--result-title {
  font-weight: 700;
}

.maplibregl-ctrl-geocoder .suggestions > li > a {
  border-bottom: 1px solid #c9c6c6;
  padding-bottom: 10px;
}

.maplibregl-ctrl-geocoder--input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0000001a;
  border-radius: 5px;
}
